body {
    padding-top: 60px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

div[contentEditable] {
    cursor: pointer;
    background-color: #c4e3f3 ;
    padding: .2em;
}
div[contentEditable]:focus {
    cursor: pointer;
    background-color: #d6e9c6;
    border: 1px solid red;
    padding: .2em;
}
