<!DOCTYPE html>
<html ng-app="protocol">
<head lang="en">
    <meta charset="UTF-8">
    <title>Облік ресурсів</title>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="./questionary.html">Облік ресурсів</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="./questionary.html">Робота з анкетами</a></li>
                <li class="active"><a href="./protocol.html">Робота з протоколами</a></li>
                <li><a href="./statistic.html">Статистика</a></li>>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container" ng-controller="ChooseController as chooser">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="protocolsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Виберіть протокол...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="protocolsMenu">
            <li ng-repeat="protocol in chooser.protocolsList">
                <button type="button" class="btn btn-default" ng-click="showProtocol(protocol)">
                    {{chooser.protocolService.getProtocolName(protocol)}}</button>
            </li>
        </ul>
    </div>
</div>

<div class="container" ng-controller="FormController as form">
    <h3 class="text-center">ПРОТОКОЛ ПРОВЕДЕННЯ</h3>

    <h3 class="text-center">І етапу Всеукраїнської студентської олімпіади</h3>

    <form class="form-horizontal" name="protocolForm">
        <div class="form-group" ng-class="{ 'has-error':protocolForm.date.$invalid }">
            <label for="date" class="col-sm-2 control-label">Дата проведення</label>

            <div class="col-sm-2">
                <div id="date_picker" class="input-group date" data-date="" data-date-format="yyyy-mm-dd" >
                    <input class="form-control" size="16" type="text" value="" id="date" name="date" ng-model="protocol.date" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':protocolForm.category.$invalid }">
            <label for="category" class="col-sm-2 control-label">Категорія олімпіади</label>

            <div class="col-sm-4">
                <select class="form-control" id="category" name="category" ng-model="protocol.category" required>
                    <option ng-repeat="dysciplina in form.dysciplinas" value={{dysciplina.id}}>{{dysciplina.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':protocolForm.categoryName.$invalid }">
            <label for="categoryName" class="col-sm-2 control-label">Назва категорії</label>

            <div class="col-sm-6">
                <input type="text" id="categoryName" class="form-control" name="categoryName" ng-model="protocol.categoryName" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':protocolForm.kafedra.$invalid }">
            <label for="kafedra" class="col-sm-2 control-label">Кафедра</label>

            <div class="col-sm-4">
                <select class="form-control" id="kafedra" name="kafedra" ng-model="protocol.kafedra" required>
                    <option ng-repeat="kafedra in form.kafedras" value={{kafedra.id}}>{{kafedra.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':protocolForm.institute.$invalid }">
            <label for="institute" class="col-sm-2 control-label">Інститут</label>

            <div class="col-sm-4" >
                <select class="form-control" id="institute" name="institute" ng-model="protocol.institute" required>
                    <option ng-repeat="institute in form.institutes" value={{institute.id}}>{{institute.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="comHead" class="col-sm-2 control-label">Голова комісії</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" id="comHead" name="comHead" ng-model="protocol.comHead">
            </div>
        </div>

        <div class="form-group row" data-ng-repeat="com_participant in protocol.comParticipants">
            <label for="com_participant" class="col-sm-2 control-label" ng-show="$first">Члени жюрі:</label>

            <div class="col-sm-4" ng-class="!$first ? 'col-sm-offset-2' : 'col-sm-offset-0'" id="participants">
                <input type="text" class="form-control" id="com_participant" name="com_participant" ng-model="com_participant.name">
            </div>
            <div class="col-sm-2" ng-show="$last">
                <button type="button" id="add_participant" class="btn btn-default" ng-click="addComParticipant()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <fieldset>
            <legend>Статистичні дані участі студентів у І етапі олімпіади</legend>
            <div class="form-group row" data-ng-repeat="statistic in protocol.instStatistic">
                <label class="col-sm-1 control-label">{{statistic.id}}</label>

                <div class="col-sm-4">
                    <select class="form-control" name="institute" ng-model="statistic.institute">
                        <option ng-repeat="institute in form.institutes" value={{institute.id}}>{{institute.name}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="studentCount" ng-model="statistic.studentCount"
                           placeholder="Кількість студентів">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" ng-show="$last" ng-click="addStatistic()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Претенденти на участь у ІІ етапі Олімпіади</legend>
            <div class="form-group row" data-ng-repeat="winner in protocol.winners">
                <label class="col-sm-1 control-label">{{winner.id}}</label>

                <div class="col-sm-2">
                    <input type="text" class="form-control" name="student" ng-model="winner.student"
                           placeholder="ПІБ студента" required>
                </div>

                <div class="col-sm-3">
                    <select class="form-control" name="studentInstitut"  ng-model="winner.studentInstitut" required>
                        <option ng-repeat="institute in form.institutes" value={{institute.id}}>{{institute.name}}</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <input type="text" class="form-control" name="teacher" ng-model="winner.teacher"
                           placeholder="ПІБ викладача" required>
                </div>

                <div class="col-sm-3">
                    <select class="form-control" name="teacherKafedra"
                            ng-model="winner.teacherKafedra" required>
                        <option ng-repeat="kafedra in form.kafedras" value={{kafedra.id}}>{{kafedra.name}}</option>
                    </select>
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" ng-show="$last" ng-click="addWinner()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </fieldset>

        <div class="center-block">
            <button class="btn btn-primary btn-lg" type="submit" id="Submit" ng-click="send(protocol)"
                    ng-disabled="protocolForm.$invalid">Додати протокол</button>

            <button class="btn btn-primary btn-lg" type="reset" id="Reset" ng-click="protocolService.initializeEmptyProtocol()">
                Обнулити форму</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.js"></script>

<script type="text/javascript" src="js/lib/angular.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/protocol.js"></script>
<script type="text/javascript" src="js/lib/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="js/lib/locales/bootstrap-datetimepicker.ua.js"></script>
</body>
</html>