<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
       <session-factory>
              <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
              <property name="show_sql">false</property>
              <property name="hbm2ddl.auto">update</property>

           <!--<mapping class="com.katran.model.Protocol"/>-->
           <!--<mapping class="com.katran.model.Winner"/>-->
           <!--<mapping class="com.katran.model.Dysciplina"/>-->
           <!--<mapping class="com.katran.model.Institute"/>-->
           <!--<mapping class="com.katran.model.Institute"/>-->
           <!--<mapping class="com.katran.model.Kafedra"/>-->
           <!--<mapping class="com.katran.model.Student"/>-->
           <!--<mapping class="com.katran.model.Teacher"/>-->
           <!--<mapping class="com.katran.model.IntStatistic"/>-->
           <!--<mapping class="com.katran.model.ComParticipant"/>-->
       </session-factory>
</hibernate-configuration>
